<div class="content">
  <div class="content-top">
    <div class="content-name">
      <%= message.user.name %>
    </div>
    <div class="content-date">
       <%= l message.created_at %>
    </div>
  </div>
  <div class="content-bottom">
    <div class="content-text">
      <%= message.content %>
    </div>
  </div>
</div>
  