<div class="top-wrapper">
  <div class="name-box">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="bottom-wrapper">
  <div class ="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class ="room">
    <div class="room-name">
  <a href="#">techroom2</a>
    </div>
  </div>
</div>