.wrapper{
  display: flex;
}

.side-bar {
  width:300px;
  height: 100vh;
  background-color: #253141;
}
.top-wrapper {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.name-box a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.chat-btn a{
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.bottom-wrapper {
  height:calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2F3E51;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}

.chat-side {
  width: calc(100vw - 300px);
  background-color: #fff;
} 
.chat-top {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.room-info {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}
.room-end {
  margin-top: 40px
}
.room-end a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.chat-body {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.content {
 margin-top: 10px;
}
.content-top {
  display: flex;
}
.content-name {
  color: #434A54;
  font-size: 16px;
}
.content-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.content-bottom {
  margin-top: 10px;
}
.content-text {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}
.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  width: 100%;
  background-color: white;
  display: flex;
}
.form-message {
  border:none;
  height: 50px;
  width:100%;
  padding-left: 10px;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.form-submit {
  height: 50px;
  border: none;
  background-color: #38AEF0;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  margin-left: 15px;
}